.calendarMain {
    background-color: white;
}

.calendarHeader {
    column-gap: 20%;
    display: flex;
    flex-direction: row;
    font-size: 150px;
}

.textareaLegend {
    border: transparent solid 2px;
    font-size: 40px;
    overflow: hidden;
}

.textareaLegend:hover {
    border: red solid 2px;
}

.calendarContainer {
    background-color: white;
    display: grid;
    gap: 5px 5px;
    grid-template-columns: 13% 13% 13% 13% 13% 13% 13%;
}

.dayCard {
    background-color: aqua;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.userPanel {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 20px;
}

.basicPanel {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    margin-top: 20px;
}


.calendarSettings {
}

.generateButton {
    font-size: 50px;
}

.monthSelector {
    font-size: 50px;
}

.loadSaveConfig {
    display: none;
    font-size: 50px;
}
