.cardContainer {
    border: rgb(0, 0, 0) 2px solid;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.cardDate {
    margin: 10px;
    font-size: 25px;
    font-weight: 600;
    width: fit-content;
}

.cardLetter {
    background-color: transparent;
    border: transparent solid 2px;
    font-size: 75px;
    margin: auto;
    text-align: center;
    text-transform: capitalize;
    width: 50%;
}

.cardLetter:hover {
    border: red solid 2px;
}
